@import "tailwindcss";

@theme {
    --color-ink: #141110;
    --color-naranja: #e8622c;
    --color-lila: #b79ced;
    --color-verde: #6bcb77;
    --color-rojo: #ef6461;
    --font-mono: "JetBrains Mono", ui-monospace, monospace;
}
